:root {
  --fg-color: var(--bg0);
  --bg-color: var(--fg0);
  --font-size-baseline: 18px;
  --font-size-code: 16px;
  --small-caps-letter-spacing: 0.05em;
  --content-width: 30rem;
  --heading-width: calc(var(--content-width) + 4rem);
  /* Approximitely a 79 character line */
  --block-width: 48em;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--content p, a, i, em, strong, span, ul, ol, div;
@custom-selector :--text :--content, :--heading;
@custom-selector :--inner-margin p, a, span, ul, ol, div, blockquote;

html, body {
  background-color: var(--bg-color);
  min-height: 100vh;
  margin: 0;
}

html, body {
  font-size: var(--font-size-baseline);
  font-family: 'Merriweather', serif;
  line-height: 1.45;
  word-wrap: break-word;
  hyphens: auto;
}

html, body, a {
  color: var(--fg-color);
}

footer {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  box-sizing: border-box;
}

.headline {
  max-width: var(--heading-width);
  margin-left: auto;
  margin-right: auto;
}

.homepage .headline {
  margin-bottom: 0;
}

.subheadline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  max-width: var(--heading-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  & * {
    margin: 0;
  }
}

.page-margins {
  & > :--inner-margin {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }

  & :--heading {
    max-width: var(--heading-width);
    margin-left: auto;
    margin-right: auto;
  }

  & .wide-block {
    max-width: none;
    width: auto;
  }

  & .highlight {
    max-width: none;
    width: auto;

    /* this will indent just the 'buffer' and leave the bg on the sides */
    /* & .lntable { */
    /*   max-width: max-content; */
    /*   margin: 0 auto; */
    /* } */
  }

  & .block,
  & > .highlight > .chroma {
    max-width: var(--block-width);
    width: 100%;
    border-radius: 3px;
    margin: 0 auto;
    font-size: var(--font-size-code);
  }

  & figure {
    margin: 0 auto;
    width: 100%;
    max-width: var(--block-width);
    & img {
      width: inherit;
      max-width: inherit;
    }
  }
}

/* TODO: replace with var */
@media all and (max-width: 700px) {
  .highlight .chroma .lntable {
    padding: 0;
  }
}

p > code {
  color: var(--red);
}

code, .chroma {
  font-family: 'Input Mono', monospace;
}

.chroma {
  font-size: 14px;
}

main {
  flex-grow: 1;
}

:--content {
  z-index: 10;
}

a {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
