<nav>
  {{ if .Site.Params.logo }}
    <a href="{{ .Site.BaseURL }}">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
    </a>
  {{ end }}

  <ul>
    {{ range .Site.Params.nav }}
      {{ if .icon }}
        <li><a href="{{ .url | relLangURL }}" name="{{ .name }}"></a></li>
      {{ else }}
        <li><a href="{{ .url | relLangURL }}" name="{{ .name }}">{{ .name }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
