<nav class="outer-margins">
  <a class="logo" href="{{ .Site.BaseURL }}" title="Return home">{{ .Site.Title }}</a>

  <ul class="nav-list">
    {{ range .Site.Params.nav }}
      {{ if .icon }}
        <li>
          <a href="{{ .url | relLangURL }}" name="{{ .name }}" title="{{ .name }}">
            {{ partial .icon }}
          </a>
        </li>
      {{ else }}
        <li>
          <a href="{{ .url | relLangURL }}" name="{{ .name }}" title="{{ .name }}">
            {{ .name }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
